body{
	padding-top: 70px;
	background-color: white;
	height: 100vh;
	font-family: 'San Serif Light';
}
.navbar-nav > .active > a{
	background-color: #54c0c0;
}
.navbar-nav > li > a{
	border-bottom: 3px solid rgba(0,0,0,0);
	transition: .3s;
}
.navbar-nav > li > a:hover{
	border-bottom: 3px solid #54c0c0;
}
.navbar{
	border-radius: 0px;
	margin-bottom: 0px;
}
.sidenav{
	z-index: 1;
	height: 100vh;
	width: 20%;
	background-color: #999999;
	position: fixed;
	top: 50px;
	left: -20%;
	transition: .5s;
	-webkit-box-shadow: -1px -1px 66px 0px rgba(0,0,0,0.41);
	-moz-box-shadow: -1px -1px 66px 0px rgba(0,0,0,0.41);
	box-shadow: -1px -1px 66px 0px rgba(0,0,0,0.41);
}
.sidenav-nav{
	
}
.profile{
	object-position: center;
	object-fit: cover;
	height: 170px;
	width: 170px;
	display: block;
	margin: auto;
	border-radius: 50%;

}
.sidenav-header{
	padding-top: 15px;
	padding-bottom: 30px;
	background-color: #777777;
}
.sidenav-search{
	margin-top: 30px;
	margin-left: 10px;
	margin-right: 10px;
}
.sidenav-nav{
	padding: 0;
	list-style: none;
}
.sidenav-nav > li> a{
	color: white;
	/*border-top: 3px solid grey;*/
	border-bottom:1px solid white;
	box-sizing: content-box;	
	padding: 13px 8px 13px 32px;
	display: block;
	text-decoration: none;
	transition: .2s;

}
.user-name{
	display: block;
	text-align: center;
	font-family: 'Open Sans Light';
	font-size: 23px;
	color: white;
}
.user-type{
	display: block;
	text-align: center;
	font-family: 'Open Sans Light';
	font-size: 14px;
	color: white;
	text-transform: uppercase;

}
.sidenav-nav > li> a:hover{
	background-color: #54c0c0;
	font-size: 17px;


};

