#profile{
	border: solid 1px white;
	border-radius: 50% 50% 50% 50%;
	width:200px;
	height:200px;
	margin-left: 15%;

}
.body_part{
	margin-top: 50px;
}
.right_side{
	margin-top: 100px;
}
.panel{
	margin-top: 30px;
}
#stud_list{
	margin-top: 90px;
}
/*#more{
	margin-left: 200px;
	margin-right: 0px;
}*/